

@media only screen and (min-width: 900px) {
    .servicesContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* @media only screen and (min-width: 1200px) {

} */