.img {
    max-width: 300px;
    border-radius: 10%;
    display: none;
    margin-right: 10px;
}

.imgContainer {
    margin-top: 1rem;
}

.goalsContainer {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.goal {
    margin: 8px auto 8px auto;
    padding: 5px 0 5px 0;
    text-align: left;
    max-width: 800px;
}

.goal span {
    font-weight: bold;
    font-size: larger;
    margin-right: 10px;
    color: #6FD1D5;
}

.btnContainer{
    margin-top: 1rem;
}

@media only screen and (min-width: 600px) {
    .imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img {
        display: inline-block;
    }

    .goal {
       padding: none;
    }

    .goalLeft {
        align-self: flex-end;
        text-align: right;
    }

}

@media only screen and (min-width: 900px) {
    .img {
        display: inline;
    }

    .btnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 120px) {

    .img {
        max-width: 600px;
    }

    /* want to figure out how to flex the training goals section to under the now booking text for larger screen size */
}