@media only screen and (min-width: 980px) {

    .form {
        display: flex;
        padding: 1rem;
    }

    .email {
        min-width: 400px;
    }

    .btn {

        margin-left: 2rem;
        min-width: 150px;
    }
}